.page.theme_dark {
  --main-bg-color: #000028;
  --main-bg-img: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --main-accent-color: #ff0070;
  --content-title-color: #ff0070;
  --accent-contrast-text-color: #000028;
  --brackets-сolor: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.40);
}

.theme_dark .header__decor {
  display: block;
}


@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #000028;
    --main-bg-img: url(../images/cover-image-dark.png);
    --main-text-color: #f1b2ce;
    --title-text-color: #db00ff;
    --main-accent-color: #ff0070;
    --content-title-color: #ff0070;
    --accent-contrast-text-color: #000028;
    --brackets-сolor: #ff0070;
    --button-color: #ff0070;
    --button-hover-color: rgba(255, 0, 112, 0.40);
  }

  .header__decor {
    display: block;
  }
}
