/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.title-decor {
  background-color: var(--main-accent-color, #ff0070);
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--main-bg-color, #000028);
  line-height: 1.3;
}


.header {
  block-size: 100vh;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  align-items: center;
}

.header__theme-menu {
  align-self: flex-start;
}


.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-items: start;
  gap: 10px;
}



.header__theme-menu-item {

}

.header__theme-menu-button {
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--main-accent-color, #ff0070);
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  padding-inline: 13px;
  text-transform: lowercase;
  block-size: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-accent-color, #ff0070);
}

.header__title {
  align-self: start;
  color: var(--title-text-color, #db00ff);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--main-accent-color);
  position: relative;
  inset-inline-end: 20px;

}

.header__text {
  justify-self: end;
  align-self: center;
  color: var(--accent-contrast-text-color, #000028);
  font-weight: 700;
  inline-size: 50%;
  font-style: normal;
}


@media (width <= 768px) {
  .header__theme-menu {
    justify-self: end;
  }

  .header__theme-menu-list {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 26px);

  }

  .header__theme-menu {
    align-self: center;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

}

@media (width <= 375px) {
  .header {
    padding: 10px;
  }

  .header__title {
    inset-inline-start: 0;
  }

  .header__text {
    justify-self: center;
    inline-size: 100%;
  }
}
