/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {

  --main-bg-img: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --main-accent-color: #ff0070;
  --content-title-color: #ff0070;
  --accent-contrast-text-color: #000028;
  --brackets-сolor: #ff0070;
}
